/* Broadway CSS */
body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url(/Users/thomasbishop/Documents/Projects/Broadway/resources/images/the-flatiron-building.png);
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

a {
  text-decoration:underline;
  color: white;
}


h2 {
  font-size: 32px;
  font-weight: bold;
}

.subheadings {
  font-size: 23px;
  font-weight: bold;
}

.descriptions {
  font-size: 14px;
}

.header h2{
  font-size: 23px
  font-weight: bold;
}

.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
